# Generic rules
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
dev-test
coverage
build
examples/*
!examples/*.js
test/temp/*
!test/temp/.gitkeep

# Node.js rules
node_modules
npm-debug.log

# IDE rules
*.sublime-project
*.sublime-workspace
.settings
